# Hidden
.idea
.DS_Store
# IDEs
.vs
.vscode
# Python-Cache
.pytest_cache
stream_server/__pycache__
stream_server/app/__pycache__
stream_server/app/main/__pycache__
stream_user/__pycache__
stream_user/browser/node_modules
# Poetry
poetry.lock
stream_server.egg-info
# Other
*.bat