[Unit]
Description=uWSGI instance to serve Stream Server
After=network.target

[Service]
User=jordan
Group=www-data
WorkingDirectory=/home/ubuntu/Stream_Server
Environment="PATH=/home/ubuntu/Stream_Server"
ExecStart=/usr/bin/python3 /home/ubuntu/Stream_Server/serve.py

[Install]
WantedBy=multi-user.target